NUXT_PUBLIC_SITE_URL=http://localhost:3000

NUXT_PUBLIC_AUTH0_DOMAIN=inkline-dev.eu.auth0.com
NUXT_PUBLIC_AUTH0_ISSUER_BASE_URL=https://inkline-dev.eu.auth0.com/
NUXT_PUBLIC_AUTH0_CLIENT_ID=
NUXT_PUBLIC_AUTH0_AUDIENCE=http://localhost:3000
NUXT_PUBLIC_AUTH0_CALLBACK_URL=http://localhost:3000

NUXT_STRIPE_SECRET_KEY=
