# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
*.local

# Tests
/cypress/videos/
/cypress/screenshots/
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules

# Build
dist
dist-ssr
.vite-ssg-dist
.vite-ssg-temp
public/assets/images/blog

# Generated
src/components.d.ts
public/sitemap.xml

*.log*
.nuxt
.nitro
.cache
.output
.env
