@import "@inkline/inkline/css/variables";
@import "@inkline/inkline/css/mixins";

.configuration-table {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--color--gray-20);
    border-radius: var(--border-radius);
    transition-property: border;
    transition-timing-function: var(--transition-easing);
    transition-duration: var(--transition-duration);

    .tbody {
        padding: var(--spacing);
        border-bottom: 1px solid var(--border-color--light);
        margin: 0;
        transition-property: border;
        transition-timing-function: var(--transition-easing);
        transition-duration: var(--transition-duration);

        &:last-child {
            border-bottom: 0;
        }

        .tr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            + .tr {
                margin-top: calc(var(--spacing) / 2);
            }

            .td {
                + .td {
                    margin-left: calc(var(--spacing) / 2);
                }

                span {
                    display: block;
                    font-weight: font-weight('semibold');
                    font-size: font-size('sm');
                    color: var(--text-muted);
                    margin-bottom: calc(var(--spacing) / 4);
                }

                code {
                    white-space: nowrap;
                    overflow: auto;
                    width: 100%;
                    display: block;
                }

                &.property-name {
                    > div {
                        display: flex;
                        align-items: center;
                    }

                    @include i-icon() {
                        margin-right: calc(var(--spacing) / 2);
                    }

                    code {
                        width: auto;
                    }
                }

                &:not(.property-name) {
                    code {
                        color: var(--body--color);
                    }
                }
            }
        }
    }

    .inkline.-dark & {
        border-color: var(--border-color--dark);

        .tbody {
            border-color: var(--border-color--dark);
        }
    }

    &.-css-variables {
        .tbody .tr:first-child {
            .td {
                width: 50%;
            }
        }
    }

    &.-props {
        .tbody .tr:first-child .td {
            width: 33.3333%;
        }
    }

    &.-slots {
        .tbody .tr:first-child .td {
            width: 100%;
        }
    }

    .tbody .tr:first-child {
        @include breakpoint-down('sm') {
            flex-direction: column;

            .td {
                width: 100% !important;
                margin: 0;
            }
        }
    }
}
