:root {
    --font-family-primary--base: 'Inkline', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --navbar-height: 74px;
    --sidebar-width: 280px;
    --article--margin-top: calc(var(--spacing) * 3);
}
